@import "_colors"

html
  font-size: 18px

body
  background-color: $bg-color
  font-family: "Roboto Mono", monospace
  font-size: 13px
  line-height: 1rem
  color: $text-color

$width: 700px
$margin: 15px

.content
  max-width: $width
  margin: 0 auto

h2
  line-height: 2rem
  line-height: calc(2rem - 1px)
  font-size: 14px
  margin-top: 1rem
  font-weight: 500
  border-bottom: 1px solid $separator-color


footer.content
  text-align: center
  font-size: 11px
  margin: 2rem auto


@media screen and (max-width: $width + 2 * $margin)
  .content
    margin: 0 $margin

  footer.content
    margin: 2rem $margin


@mixin link-no-visited()
  color: $link

  &:hover
    color: $link-hover

  &:active
    color: $link-active !important


a
  +link-no-visited

  &:visited
    color: $link-visited

  &:visited:hover
    color: $link-visited-hover
