@import "_colors"

.project
  h2
    font-weight: 500
    margin: 1rem 0
    line-height: 2rem
    font-size: 18px

  p
    margin: 1rem 0

  border-bottom: 2px solid $separator-color


.extra
  font-size: 11px
  display: table
  margin: 1rem 0

  .extra_row
    display: table-row

  .extra_label
    display: table-cell
    padding-right: 15px
    width: 135px

  .extra_content
    display: table-cell
    font-weight: 500
