@import "_colors"

.project
  h3
    font-weight: 500
    margin: 1rem 0
    line-height: 2rem
    font-size: 18px

    a
      +link-no-visited()
      color: $text-color
      text-decoration: none
      display: block

    img.icon
      float: right
      width: 36px
      height: 36px

  p
    margin: 1rem 0

  border-bottom: 2px solid $separator-color
  margin-bottom: -2px

  &:last-child
    border-bottom-color: transparent

.repo_stats, .links_list
  margin: 1rem 0 2rem
  height: 1rem

.repo_stats
  font-size: 0
  display: flex
  align-items: center
  position: relative

.links_list
  text-align: right

.links_message
  margin: 1rem 0
  text-align: right
  font-style: italic

  &:last-child
    margin-bottom: 2rem

.stats_numeric
  flex: 0 0 150px
  width: 150px
  display: inline-block
  height: 1rem

  .stat_commits_count,
  .stat_stars_count
    min-width: 45px
    position: relative
    padding-left: 25px
    display: inline-block
    font-size: 13px
    display: relative

    &::before
      content: " "
      font-size: 0
      position: absolute
      left: 0
      top: 0
      width: 18px
      height: 18px
      background-image: url("./images/icons.svg")
      background-repeat: no-repeat

    .stat_description
      position: absolute
      left: 9px
      top: 1rem
      white-space: nowrap
      padding-left: 5px
      border-left: 1px solid fade-out($text-color, 0.5)
      opacity: 0
      transition: opacity 0.2s, transform 0.2s
      transform: translate(0, -3px)
      font-size: 11px

    &:hover .stat_description
      opacity: 1
      transform: translate(0, 0)

  .stat_stars_count::before
    background-position: 0 0

  .stat_commits_count::before
    background-position: 0 -18px

$unknown-lang-color: #CCC

.stats_languages
  flex: 0 0 300px
  width: 300px
  height: 5px
  display: inline-block
  font-size: 0
  line-height: 5px
  overflow-x: hidden
  padding: 3px 0

.stats_language_entry
  display: inline-block
  height: 5px
  background-color: $unknown-lang-color
  box-shadow: -1px 0 $bg-color

.stats_languages_details
  position: absolute
  left: 0
  top: 1rem
  right: 100px
  text-align: center
  opacity: 0
  transition: opacity 0.2s, transform 0.2s
  transform: translate(0, -3px)

.stats_languages:hover + .stats_languages_details
  transform: translate(0, 0)
  opacity: 1

.stats_language_text
  display: inline-block
  font-size: 11px
  margin: 0 10px
  font-weight: 500

.stats_language_percentage
  font-weight: 400

.stats_language_color
  display: inline-block
  width: 8px
  height: 8px
  background-color: $unknown-lang-color
  vertical-align: middle
  border-radius: 2px

.stats_link
  flex: 1 1
  display: inline-block
  text-align: right

  a
    text-decoration: none
    color: $text-color
    font-size: 11px
    position: relative
    padding-left: 20px
    line-height: 1rem
    display: inline-block

    &:hover
      color: $link-hover

    &::before
      font-size: 0
      content: " "
      position: absolute
      width: 18px
      height: 18px
      left: 0
      top: 0
      background-image: url("./images/icons.svg")
      background-repeat: no-repeat
      background-position: 0 -36px

    &:hover::before
      background-position: 0 -54px

    &:active::before
      background-position: 0 -72px


@media screen and (max-width: $width + 2 * $margin)
  .repo_stats
    flex-wrap: wrap
    height: auto

  .stats_languages
    order: 3
    flex: 1 1 100%
    padding: 6px 0 7px

  .stats_link
    height: 1rem
    white-space: nowrap

  .stats_numeric
    flex: 0 0
    white-space: nowrap

  .stats_language_entry
    transform: translate(0, 3px)

  .stats_languages_details
    position: static
    overflow-x: scroll
    opacity: 1
    flex: 1 1 100%
    order: 4
    transform: none !important
    line-height: 1rem
    text-align: left
    margin: 0 -10px

  .stat_description
    z-index: 2
    background-color: $bg-color
    padding-right: 5px

a.links_list_link
  text-decoration: none
  color: $text-color
  font-size: 12px
  position: relative
  padding-left: 24px
  line-height: 1rem
  display: inline-block
  margin-left: 16px

  &:hover
    color: $link-hover

  &::before
    font-size: 0
    content: " "
    position: absolute
    width: 18px
    height: 18px
    left: 0
    top: 0
    background-image: url("./images/icons.svg")
    background-repeat: no-repeat

  &.icon_google_play
    &::before
      background-position: -18px -36px

    &:hover::before
      background-position: -18px -54px

    &:active::before
      background-position: -18px -72px

  &.icon_website
    &::before
      background-position: -36px -36px

    &:hover::before
      background-position: -36px -54px

    &:active::before
      background-position: -36px -72px
