doctype html
html(lang="ru")
  head
    title Владислав Полетаев / Vladislav Poletaev
    meta(charset="utf-8")
    link(rel="stylesheet" href="styles.css")
  body

    for lang in ["ru", "en"]
      mixin tr(rus, eng)
        case lang
          when "ru": != rus
          when "en": != eng

      case lang
        when "ru"
          - var languageName = "Русский"
        when "en"
          - var languageName = "English"

      .page(lang=lang, data-bookmark=languageName)
        .above-header
          +tr(
            "Актуальная версия этого резюме доступна на ", 
            "The latest version of this resume is available at "
          )
          a(href="https://poletaevvlad.github.io/resume.pdf") poletaevvlad.github.io/resume.pdf

        header.header
          .content
            .title
              +tr("Владислав Полетаев", "Vladislav Poletaev")
            .subtitle Python developer

        aside.sidebar
          section.skills
            h2: +tr("Навыки", "Skills")
            .entry
              .label Back-end
              .value Python (Django, Flask), AWS (S3, Lambda), RabbitMQ, OpenCL.
            .entry
              .label: +tr("Базы данных", "DBMS")
              .value MongoDB, MySQL, PostgreSQL, SQLite.
            .entry
              .label Front-end
              .value JavaScript/TypeScript (React), Flutter, Qt, Java&nbsp;(Android, JavaFX).
            .entry
              .label: +tr("Инструменты программной инженерии", "Software engineering tools")
              .value Git, Docker, docker-compose, Linux.
            .entry
              .label: +tr("Языки", "Languages")
              .value.no-break
                +tr(
                  "русский, украинский (носитель), английский",
                  "Russian, Ukrainian (native), English"
                )
                | &nbsp;(C1/C2)#[sup &thinsp;1].
                div.ceritificate 
                  sup.footnote-num 1
                  .cert-name: +tr(
                    " Сертификат EF SET 78/100 (C2 Proficient)", 
                    " EF SET Certificate 78/100 (C2 Proficient)"
                  )
                  .cert-description 
                    | (Reading, listening; on-line; 
                    a(href="https://www.efset.org/cert/idGLD6") efset.org/cert/idGLD6
                    | )

          section
            h2: +tr("Контактная информация", "Contacts")
            .contact.icon-mail
              .label E-Mail
              a.value(href="mailto:poletaev.vladislav@gmail.com") poletaev.vladislav@gmail.com
            .contact.icon-telegram
              .label Telegram
              .value @poletaevvlad
            .contact.icon-github
              .label GitHub
              a.value(href="https://github.com/poletaevvlad") github.com/poletaevvlad
            .contact.icon-linkedin
              .label LinkedIn
              a.value(href="https://www.linkedin.com/in/poletaevvlad/") linkedin.com/in/poletaevvlad
            hr.contact-divider
            .contact.icon-map
              .label: +tr("Место проживания", "Location")
              .value: +tr("г. Донецк, Украина", "Donetsk, Ukraine")

          section
            h2: +tr("Образование", "Education")
            section.education
              h4.name
                .period 2018&ndash;2020
                +tr("Магистратура", "Master's degree")
              .institution: +tr(
                "Донецкий национальный технический университет, г. Донецк, Украина.", 
                "Donetsk national technical university, Donetsk, Ukraine"
              )
              p
                if lang == "ru"
                  | #[small 09.04.04] Программная инженерия
                else
                  | Software engineering
              p: +tr("Cредний бал: 96,69/100", "GPA 96.69/100") 
              section.thesis-project
                h5: +tr("Магистерская диссертация", "Master's thesis")
                ul
                  li: +tr("Поиск изображений по содержимому (CBIR)", "Content-based image retrieval (CBIR)")
                  li 
                    +tr("Выделение признаков ", "Feature extraction ")
                    | (SIFT, ORB): 
                    em OpenCV, numpy, scikit-learn
                  li
                    +tr("Параллельные вычисления: ", "Parallel computations: ")
                    em OpenCL, OpenMP
                  li
                    +tr("Микросервисная архитектура: ", "Microservice architecture: ")
                    em.nobreak Tornado+Flask, RabbitMQ, docker-compose, MongoDB
                  li Front-end: #[em TypeScript+React]

            section.education
              h4.name
                .period 2014&ndash;2018
                +tr("Бакалавриат", "Bachelor's degree")
              .institution: +tr(
                "Донецкий национальный технический университет, г. Донецк, Украина.", 
                "Donetsk national technical university, Donetsk, Ukraine"
              )
              p
                if lang == "ru"
                  | #[small 09.03.04] Инженерия программного обеспечения
                else
                  | Software engineering
              p: +tr("Cредний бал: 97,52/100", "GPA 97.52/100") 

        main.main
          p.summary: +tr(
            "Я back-end разработчик, который понимает как устроен front-end и который любит решать сложные задачи. Желаю присоединиться к команде разработчиков, в которой я мог бы совершенствовать свои профессиональные навыки и личные качества работая над решениями интересных и практических задач.",
            "I am a back-end developer who understands how front-end works and who loves solving difficult problems. I am seeking to join a team of developers where I would be able to grow professionally and personally while working on interesting projects."
          )

          section
            h2: +tr("Профессиональный опыт", "Professional experience")

            section.project.no-divider
              h4
                .period: +tr("2014&ndash;н. в.", "2014 &ndash; present")
                +tr(
                  "Разработка и поддержка: Кулинарный блог «Домашняя кухня»",
                  "Development and support: Culinary blog “HomeCooking.pp.ua”"
                )
              p: +tr(
                "Django-приложение, по которому генерируется статический сайт, развёртываемый на AWS S3. Поиск по сайту реализован на AWS&nbsp;Lambda&nbsp;+ Whoosh.",
                "A static website built using Django. It is deployed to AWS S3, and its search functionality is implemented on AWS&nbsp;Lambda&nbsp;+ Whoosh."
              )
              p: +tr("Android-приложение, написанное на Flutter.", "Android application is written in Flutter.")
              nav.links
                a.with-icon.icon-google-play(href="https://play.google.com/store/apps/details?id=ua.pp.homecooking.android.app")
                  span.text Google Play
                a(href="https://homecooking.pp.ua/") homecooking.pp.ua

          section
            h2: +tr("Личные проекты", "Pet projects")

            p.primary.with-divider: +tr(
              "Лучший способ получения новых и углубления существующих навыков&nbsp;&mdash; их применение. Ниже приведены некоторые мои законченные проекты, код большинства из которых доступен на GitHub.",
              "I believe that the only way to learn and to improve one's skills is to apply those skills. The following are some of the projects I've completed. The source code for most of them is available on GitHub."
            )

            section.project
              h4
                .period 2019
                | CubeLang
              p 
                +tr(
                  "Процедурный статически и строго типизированный язык программирования, спроектированный для программирования решений вращательных головоломок, таких как Кубики Рубика.", 
                  "CubeLang is a procedural statically and strongly typed programming language designed for implementing solutions to twisting cube puzzles such as Rubik's cubes."
                ) 
                em  (Python, Lark, pytest)
              nav.links
                a.with-icon.icon-github(href="https://github.com/poletaevvlad/cubelang")
                  span.text poletaevvlad/cubelang

            section.project
              h4
                .period 2018, 2020
                | KeypunchBot
              p
                +tr(
                  "Бот для Telegram, генерирующий изображения перфокарт и перфолент, на которых закодированы пользовательские сообщения.", 
                  "A Telegram bot that generates images of punched cards and punched tape with user-submitted messages encoded on them."
                )
                em  (Python (PIL, tornado), Telegram Bot API, MongoDB, Heroku, Docker)
              nav.links
                a.with-icon.icon-telegram(href="https://t.me/keypunch_bot")
                  span.text @keypunch_bot
                a.with-icon.icon-github(href="https://github.com/poletaevvlad/KeypunchBot")
                  span.text poletaevvlad/KeypunchBot

            section.project
              h4
                .period 2021
                | DiceRobot
              p 
                +tr(
                  "Приложение для бросков виртуальных игральных костей произвольной формы с поддержкой арифметики над результатами, расчётом вероятностей, историей бросков, переменными и сохранёнными выражениями.",
                  "DireRobot is an app for rolling arbitrary-shaped polyhedral dice, that supports arithmetic on the roll results, rolls history, event probabilities computation, custom variables, and saved expressions."
                )
                em  (Flutter, Android, Firebase (Analytics, AdMob), Google Play Billing)
              nav.links
                a.with-icon.icon-google-play(href="https://play.google.com/store/apps/details?id=io.github.poletaevvlad.diceroller")
                  span.text Google Play
                a(href="https://dicerobot.pp.ua") dicerobot.pp.ua

            section.project
              h4
                .period 2020
                | anime-list-popup
              p 
                +tr(
                  "Расширение для браузера, отображающее и позволяющее редактировать контент учётной записи с сайта myanimelist.net.",
                  "Anime List Popup is a browser extension for viewing and editing the user's myanimelist.net account content."
                )
                em  (React, WebExtensions API, OAuth 2.0)
              nav.links
                a.only-icon.icon-firefox(href="https://addons.mozilla.org/en-US/firefox/addon/anime-list-popup/")
                a.only-icon.icon-chrome(href="https://chrome.google.com/webstore/detail/anime-list-popup/glabhkacodgkcgnbccfkjhlkolcidkdo")
                a.with-icon.icon-github(href="https://github.com/poletaevvlad/anime-list-popup")
                  span.text poletaevvlad/anime-list-popup

            section.project.no-divider
              h4
                .period 2018
                | http-asm
              p: +tr(
                "Сервер, написанный на ассемблере (x86-64, GNU/Linux) без зависимостей от сторонних библиотек (включая libc), реализующий подмножество HTTP 1.0, показ содержимого каталогов.",
                "A web server, written in x86-64 assembly for GNU/Linux without dependencies (including libc). It implements a subset of HTTP 1.0 specifications and supports directory listing."
              )
              nav.links
                a.with-icon.icon-github(href="https://github.com/poletaevvlad/http-asm")
                  span.text poletaevvlad/http-asm

        hr.bottom-line
