---
layout: base
---

<header id="header">
  <div class="content">
    <nav id="header-nav">
      {% for link in site.navigation %}
        <a href="{{ link.url }}">{{ link.label }}</a>
      {% endfor %}
    </nav>

    <h1>{{ page.title }}</h1>
    <nav id="variants">
      <a href="/" class="current">eng</a>
      <a href="/rus/">rus</a>
    </nav>
  </div>
</header>

<div id="body">
  <div class="content">
    <div class="projects-list">
      {% for project in site.data.projects %}
        <article class="project">
          {% if project.repo %}
            {% assign repo = site.data.repos_info[project.repo.owner][project.repo.name] %}
          {% else %}
            {% assign repo = null %}
          {% endif %}
          <h2>
            {% if project.name %}
              {{ project.name }}
            {% else %}
              {{ repo.name }}
            {% endif %}
          </h2>
          {% if project.description %}
            {{ project.description | markdownify }}
          {% else %}
            <p>{{ repo.description }}</p>
          {% endif %}

          {% if project.extra %}
            <div class="extra">
              {% for entry in project.extra %}
                <div class="extra_row">
                  <div class="extra_label">{{ entry.label }}</div>
                  <div class="extra_content">{{ entry.content }}</div>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% if repo %}
            <div class="repo_stats">
              <div class="stats_numeric">
                <div class="stat_commits_count">{{ repo.commits_count }}</div>
                {% if repo.stars > 0 %}
                  <div class="stat_stars_count">{{ repo.stars }}</div>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </div>
</div>
